*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.d-flex{
  display: flex;
}

.al-center{
  align-items: center;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.avatar{
  width: 60px;
  margin: 0 15px;
  border-radius: 50%;
}

main{
  height: 100vh;
  background: linear-gradient(to bottom, #009688 15%, #D8DBD6 15%);
  display: flex;
  align-items: center;
}

.container{
  width: 90%;
  max-width: 1310px;
  height: 95vh;
  margin: 0 auto;
  background-color: red;
}

.top{
  height: 10%;
  width: 100%;
  background-color: #EAEAEA;
}

.bottom{
  width: 100%;
  height: 90%;
}

.sinistra{
  width: 370px;
  height: 100%;
}

.sinistra-top{
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #d7d7d7;
}

.user-menu{
  font-size: 1.6rem;
  padding-right: 25px;
}

.user-menu  i{
  padding-left: 10px;
  color: #B1B1B1;
}

.destra{
  width: calc(100% - 370px);
  height: 100%;
}

.destra-top{
  justify-content: space-between;
  align-items: center;
}

.info-avatar{
  padding-left: 20px;
}

.info-avatar .name{
  font-size: 1.3rem;
  font-weight: bold;
}

.info-avatar .last-acces{
  font-weight: bold;
  color: #6C7477;
}

.notifiche{
  width: 100%;
  height: 11%;
  background-color: #8EDAFC;
}

.ricevi-notifiche{
  font-size: 1.1rem;
  font-weight: bold;
}

.attiva-notifiche a{
  color: #588396;
  font-weight: bold;
}

.silenzioso{
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #F2FBFF;
  margin: 0 15px;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #8EDAFC;
}

.search-chat{
  width: 100%;
  height: 7%;
  background-color: #f3f2f2;
  
}

.search-chat .search{
  margin: 0 auto;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: 95%;
}

.search-chat .search i{
  padding-right: 20px;
  color: #B1B1B1;
}

.search-chat .search input{
  width: 80%;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: #c7c7c7;
  font-family: 'Lato', sans-serif;
}

.list-chat{
  width: 100%;
  height: 82%;
  overflow-y: scroll;
  background-color: yellow;
}

.chat{
  height: 90%;
  overflow-y: scroll;
  background-image: url(../img/mine.jpg);
}

.scrivi{
  width: 100%;
  height: 10%;
  background-color: deeppink;
}

@media screen and (max-width: 992px){
  .container{
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .sinistra{
    width: 90px;
  }

  .notifiche{
    display: none;
  }

  .search-chat{
    display: none;
  }

  .my-menu{
    display: none;
  }

  .list-chat{
    height: 100%;
  }

  .destra{
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 542px){
  .sinistra{
    display: none;
  }

  .destra{
    width: 100%;
  }

  .avatar-menu{
    display: none;
  }
}